// В font-size можно записать самый частый размер шрифта на сайте, в font-family - самый частое семейство шрифта.

body {
  font-family: var(--font-family);
  color: var(--gray-color);
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.6;
  // color: $mainColor;
  // overflow-wrap: break-word;
  // word-wrap: break-word;
}

.wrapper {
  overflow: hidden;
  // overflow-x: hidden;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*------------------*/

// Функция возвращает размер шрифта в rem (переводит из пикселей в rem). По умолчанию в браузерах это 16px. В стилях для конкретного текста можно писать font-size: rem(32); Это пример. Тогда в файле css окажется 2rem. 16px - это размер по умолчанию в браузерах. $size пишем без 'px'.

[class$="__container"],
[class$="-container"] {
  max-width: $maxWidth;
  min-width: $minWidth;
  padding: 0 rem(15);
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

body._lock {
  overflow: hidden;
}

.button {
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(8);
  width: fit-content;
  min-width: rem(200);
  min-height: rem(61);
  color: var(--white-color);
  background: var(--orange-color);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: rem(4);
  user-select: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
  padding: rem(10) rem(39) rem(10) rem(30);
  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      // background: #d7523e;
      background: transparent;
      border: 1px solid var(--orange-color);
      color: var(--orange-color);
      & .button-arrow path {
        fill: var(--orange-color);
      }
    }
  }
  &_transparent {
    background: transparent;
    font-size: rem(14);
    color: var(----black-color);
    min-width: rem(161);
    min-height: rem(44);
    border: 1px solid rgba(29, 37, 60, 0.2);
    padding: rem(10) rem(20);
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--white-color);
        background: var(--green-color);
        border: 1px solid rgba(29, 37, 60, 0.2);
      }
    }
  }
}

.button-arrow path {
  transition: fill 0.3s ease;
}

/*--------- visually-hidden ---------*/

// Класс, который можно использовать для элементов, которые  нужно скрыть, но так, чтобы скринридеры их видели. Например, заголовок, который должен по логике быть, но по дизайн-макету его нет. По скрытым таким способам ссылкам и кнопкам будет при табе происходить фокусировка, что будет не видно.
// При display: none; ни поисковики, ни скринридеды не видят скрытый элемент. Атрибут hidden может заменить display: none;
// Если нужно сделать плавное появление и исчезновение выпадающего меню можно использовать visibility и opacity (hidden и 0). Но при этом нужно, чтобы элемент был спозиционирован абсолютно. Иначе он будет продолжать занимать место в разметке. Поисковики будут видеть элемент, скринридеры - нет.
//Вариант: opacity: 0; pointer-events: none; (и поисковики, и скринридеры видят элемент, элемент занимает место в разметке, как и в варианте выше). Делает то же самое.
// Исчезновение блока можно сделать с помощью спойлера (за счет height: 0;). В этом случае исчезновение/появление анимируется. И скрытый элемент будут видеть и поисковики, и скринридеры. Но в случае с height: auto; height не анимируется. Нужно, чтобы оба значения height были числами. Плюс нужно убирать паддинги и бордеры (при height: 0 они остаются видны).

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*------------------*/

// Класс none - чтобы временно скрывать блоки во время разработки

.none {
  display: none !important;
}

.logo {
  // .logo__img

  &__img {
    // width: rem(95);
    width: proadrem(55, 95, $minWidthRemWithout, $maxWidthRemWithout);
    transition: opacity 0.3s ease;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.subtitle {
  font-weight: 600;
  font-size: rem(14);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--orange-color);
}

.heading2 {
  font-weight: 600;
  // font-size: rem(44);
  font-size: proadrem(28, 44, $minWidthRemWithout, $maxWidthRemWithout);
  line-height: 1.2;
  color: var(--black-color);
}

.paragraph {
  // font-size: rem(19);
  font-size: proadrem(16, 19, $minWidthRemWithout, $maxWidthRemWithout);
}

.link-arrow {
  font-weight: 500;
  // font-size: rem(18);
  font-size: proadrem(16, 18, $minWidthRemWithout, $maxWidthRemWithout);
  line-height: 1.2;
  color: var(--green-color);
  display: inline-flex;
  align-items: center;
  gap: rem(6);
  transition: color 0.3s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #3d9bad;
      & path {
        fill: #3d9bad;
      }
    }
  }
}
